html{
    height:100%;
    overflow:auto;
}
body{
    background-image: url("assets/imgs/photos/background/3.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-color: #000;
	font-family: "Avenir Light", Avenir Light, Avenir, Avenir Next, Calibri, sans-serif;
    height:100%;
    overflow:auto;
}

.logo{
    max-width:100%;
}

#carousel-home{
    max-width:600px;  
}

.navbar{
    margin:30px 0px 0px 0px;

}

.cart, .lang{
    margin: 9px 20px 0px 10px;
}

#main{
    display:none;
    margin:20px auto 20px auto;
    -webkit-box-shadow: 7px 7px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 11px -1px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 11px -1px rgba(0,0,0,0.75);
    background-color: rgba(255,255,255, 0.65);
}

#splash{
    background-color: #fff;
    height:100%;
    overflow-y:auto;
}

#main .box{
    margin:20px 0px 0px 0px;
}