html{
    height:100%;
    overflow:auto;
}
body{
    background-image: url("assets/imgs/photos/background/3.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-color: #000;
	font-family: "Avenir Light", Avenir Light, Avenir, Avenir Next, Calibri, sans-serif;
    height:100%;
    overflow:auto;
}

.logo{
    max-width:100%;
}

#carousel-home{
    max-width:1000px;  
}

.navbar{
    margin:30px 0px 0px 0px;
}

.cart-logo, .lang{
    margin: 9px 20px 0px 10px;
}
.product-img{
    max-height:100px;
    max-width:100%;
}

#mission{
	font-style: italic;
	text-align: center;
	font-size: 1.15em;
	color: #2f2f2f;
}

#main{
    display:none;
    margin:20px auto 20px auto;
    -webkit-box-shadow: 7px 7px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 11px -1px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 11px -1px rgba(0,0,0,0.75);
    background-color: rgba(255,255,255, 0.70);
}

#splash{
    background-color: #000;
    height:100%;
    overflow-y:auto;
}

#main .box{
    margin:20px 0px 0px 0px;
}

#cart-overlay, .shop-overlay{
    max-width:800px;
}

#map{
    display:none;
}

.checkout-promo{
    margin:20px 0px 0px 0px;
}

.filter{
    background-color:#fff;
}

.filter-button{
    margin:20px 0px 0px 0px;
}

.amcharts-object-list-div{
    margin:10px 0px 0px 0px;
}

#lang-text{
    color:#fff;
}

.shop-overlay-padding{
    margin-top:40px;
}

.mirela-img{
	width: 200px;
}

#bottom {
	clear: both;
	text-align: center;
	font-variant: small-caps;
	color: #333333;
	padding: .5em;
	font-size: .90em;
}

#bottom img {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

#bottom a{
	color: #000000;
	text-decoration: none;
}

#bottom a:first-of-type:hover{
	text-decoration: none;
	color: #53a687;
}

footer {
	font-family: "Avenir Light", Avenir Light, Avenir, Avenir Next, Calibri, sans-serif;
	clear: both; 
	padding: .5em;
	color: #333333;
	font-variant: small-caps; 
	font-size: .813em;
	text-align: center;
	border-top: 1px dotted #cccccc;
}
